

span{
  cursor: pointer;
}


span{
  position: absolute;
  width: 15px;
  height: 15px;
}

#prado{
  width: 500px;
  height: 300px;
  background-color: greenyellow;
  position: absolute;
  top: 100px;
  left: 100px;
}
