 /* Definición de clases en tu hoja de estilo CSS */
.clase1{color: red;}
.clase2{font-size: 22px;}
.clase3{color: greenyellow; }
.clase4{color: blue; position: relative; left:100px; font-size: 29px;}